<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<title>Vienna Bike Network</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>

<!-- Materialize -->
<link rel = "stylesheet"
href = "https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel = "stylesheet"
href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
<script type = "text/javascript"
src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
</script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Mapbox Assembly -->
<link
href="https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.min.css"
rel="stylesheet"
/>
<script src="https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.js"></script>

<!-- Bootstrap -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


<!-- Turf  -->

<script src="https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js"></script>
<script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>

<!-- Draw -->

<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>


<!-- Plotly -->
<script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>


<!--    Popover.js-->
<script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.0.2"></script>
<script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.0.7"></script>


<!--main css    -->
<link rel="stylesheet" href="../static/styles/main.css">

</head>
<body>

<div id="map" ></div>

<!--...........3d button.............. -->
<div>
    <div class="form-check form-switch " >
      <input class="form-check-input input_layers" type="checkbox" id="aspern_bkmBlocks">
      <label class="form-check-label" for="aspern_bkmBlocks">3D</label>
    </div>
</div>

<!--..............collapsible......... -->
<div id="main_layers">
<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">landscape</i>Bike</div>
      <div class="collapsible-body">

          <section>
            <div class="btn-group btn-group-sm" id="blocks_group" role="group" aria-label="Small button group">

                <div type="button" class="form-check btn btn-outline-dark">
                    <input class="form-check-input input_layers" type="checkbox" value="" id="bike_services" data-bs-toggle="collapse" data-bs-target="#collapseBlocks" aria-expanded="false" aria-controls="collapseBlocks">
                    <label class="form-check-label" for="bike_services">
                        Bike Services
                    </label>
                </div>

                <button id="blocks_arrow" type="button" class="btn btn-outline-dark" style=" width: 1px"><i style="font-size: 1.1rem; right: 0px; position: absolute; top: 0px;" class="material-icons medium">arrow_drop_down</i></button>

            </div>

            <div class="collapse" id="collapseBlocks" style=" z-index: 1; top: 5%; right: 1%;">
                <div class="card-body" style=" z-index: 1; top: 5%; right: 1%; max-width: 30%;">
                    <ul class="min_legend">
                    <li class="label"><span style="background: #60c36c;" data-bs-toggle="tooltip" data-bs-placement="left" title="greenSpace: green open spaces, gardens, agricultural land"></span></li>
                    <li class="label"><span style="background: #856666;" data-bs-toggle="tooltip" data-bs-placement="left" title="sealedSpace: public and private sealed area, including roads, bike paths etc."></span></li>
                    <li class="label"><span style="background: #ad949e;" data-bs-toggle="tooltip" data-bs-placement="left" title="buildings"></span></li>
                    <li class="label"><span style="background: #808080;" data-bs-toggle="tooltip" data-bs-placement="left" title="construction: construction sites, gravel pit"></span></li>
                    <li class="label"><span style="background: #0080FF;" data-bs-toggle="tooltip" data-bs-placement="left" title="water"></span></li>
                   </ul>
                </div>
            </div>

            <div class="card" style="width: 18rem; display:none; height: fit-content" id="blocks_content">
                <button id="btn-close-blocks" type="button" class="btn-close" aria-label="Close"></button>
                <h6 class="card-title" style="text-align: center;">Generalised blocks</h6>

              <div class="card-body" style="height: 90%; padding-top: 1px;">
                  <br>

                  <div id="legend_blocks" >
                    <ul class="max_legend">
                        <li><span style="background: #60c36c;"></span>greenSpace: <em>green open spaces, gardens, agricultural land</em></li>
                        <li><span style="background: #856666;"></span>sealedSpace: <em>public and private sealed area, including roads, bike paths</em></li>
                        <li><span style="background: #ad949e;"></span>buildings</li>
                        <li><span style="background: #808080;"></span>construction: <em>construction sites, gravel pit</em></li>
                        <li><span style="background: #0080FF;"></span>water</li>
                    </ul>
                  </div>

                  <div id="graph_aspern_blocks">

                  </div>

              </div>

            </div>
          </section>

          <section>
            <div class="btn-group btn-group-sm" id="landuse_group" role="group" aria-label="Small button group">

                <button type="button" class="form-check btn btn-outline-dark">
                    <input class="form-check-input input_layers" type="checkbox" value="" id="lit_score" data-bs-toggle="collapse" data-bs-target="#collapseLanduse" aria-expanded="false" aria-controls="collapseLanduse">
                    <label class="form-check-label" for="lit_score">
                        lit_score
                    </label>
                </button>

                <button id="landuse_arrow" type="button" class="btn btn-outline-dark" style=" width: 1px"><i style="font-size: 1.1rem; right: 0px; position: absolute; top: 0px;" class="material-icons medium">arrow_drop_down</i></button>

            </div>

            <div class="collapse" id="collapseLanduse" style=" z-index: 1; top: 11%; right: 1%;">
                <div class="card-body" style=" z-index: 1;  top: 11%; right: 1%; max-width: 30%;">
                    <ul class="min_legend">
                    <li class="label"><span style="background: #88db35;" data-bs-toggle="tooltip" data-bs-placement="left" title="recreation & leisure facilities"></span></li>
                    <li class="label"><span style="background: #e2d4c0;" data-bs-toggle="tooltip" data-bs-placement="left" title="business uses"></span></li>
                    <li class="label"><span style="background: #60c8c5;" data-bs-toggle="tooltip" data-bs-placement="left" title="water"></span></li>
                    <li class="label"><span style="background: #de8d24;" data-bs-toggle="tooltip" data-bs-placement="left" title="industrial & commercial uses"></span></li>
                    <li class="label"><span style="background: #8baf76;" data-bs-toggle="tooltip" data-bs-placement="left" title="agriculture"></span></li>
                    <li class="label"><span style="background: #bce48b;" data-bs-toggle="tooltip" data-bs-placement="left" title="natural area"></span></li>
                    <li class="label"><span style="background: #c4bcef;" data-bs-toggle="tooltip" data-bs-placement="left" title="social infrastructure"></span></li>
                    <li class="label"><span style="background: #c2d0a1;" data-bs-toggle="tooltip" data-bs-placement="left" title="technical infrastructure"></span></li>
                    <li class="label"><span style="background: #a8cfc6;" data-bs-toggle="tooltip" data-bs-placement="left" title="other transportation uses"></span></li>
                    <li class="label"><span style="background: #d9bdc6;" data-bs-toggle="tooltip" data-bs-placement="left" title="residential use"></span></li>
                    <li class="label"><span style="background: #d2e0c5;" data-bs-toggle="tooltip" data-bs-placement="left" title="road space"></span></li>
                   </ul>
                </div>
            </div>

            <div class="card" style="width: 18rem; display:none; height: fit-content" id="landuse_content">
                <button id="btn-close-landuse" type="button" class="btn-close" aria-label="Close"></button>
                <h6 class="card-title" style="text-align: center;">Land Use - block level</h6>

              <div class="card-body" style="height: 90%; padding-top: 1px;">
                  <br>

                  <div id="legend_landuse">
                    <ul class="max_legend">
                        <li><span style="background: #88db35;"></span>recreation and leisure facilities</li>
                        <li><span style="background: #e2d4c0;"></span>business and mixed use with emphasis on business activity</li>
                        <li><span style="background: #60c8c5;"></span>water</li>
                        <li><span style="background: #de8d24;"></span>industrial and commercial uses</li>
                        <li><span style="background: #8baf76;"></span>agriculture</li>
                        <li><span style="background: #bce48b;"></span>natural area</li>
                        <li><span style="background: #c4bcef;"></span>social infrastructure</li>
                        <li><span style="background: #c2d0a1;"></span>technical infrastructure/art buildings/special uses</li>
                        <li><span style="background: #a8cfc6;"></span>other transportation uses</li>
                        <li><span style="background: #d9bdc6;"></span>residential and mixed use with emphasis on residential</li>
                        <li><span style="background: #d2e0c5;"></span>road space</li>

                    </ul>
                  </div>

                  <div id="graph_aspern_landuse">

                  </div>

              </div>
            </div>
            </section>

          <section>
        <div class="btn-group btn-group-sm" id="zoning_group" role="group" aria-label="Small button group">

            <button type="button" class="form-check btn btn-outline-dark">
                <input class="form-check-input input_layers" type="checkbox" value="" id="paved_score" data-bs-toggle="collapse" data-bs-target="#collapseZoning" aria-expanded="false" aria-controls="collapseZoning">
                <label class="form-check-label" for="paved_score">
                    paved_score
                </label>
            </button>

            <button id="zoning_arrow" type="button" class="btn btn-outline-dark" style=" width: 1px"><i style="font-size: 1.1rem; right: 0px; position: absolute; top: 0px;" class="material-icons medium">arrow_drop_down</i></button>

        </div>

        <div class="collapse" id="collapseZoning" style=" z-index: 1; top: 17%; right: 1%;">
            <div class="card-body" style=" z-index: 1; top: 17%; right: 1%; max-width: 30%;">
                <ul class="min_legend">
                    <li class="label"><span style="background: #774c43;" data-bs-toggle="tooltip" data-bs-placement="left" title="E: recreation area"></span></li>
                    <li class="label"><span style="background: #8B4513;" data-bs-toggle="tooltip" data-bs-placement="left" title="GB: mixed developement"></span></li>
                    <li class="label"><span style="background: #D2691E;" data-bs-toggle="tooltip" data-bs-placement="left" title="GBBG: mixed developement - business developement area"></span></li>
                    <li class="label"><span style="background: #CD853F;" data-bs-toggle="tooltip" data-bs-placement="left" title="GBGV: mixed developement - business district"></span></li>
                    <li class="label"><span style="background: #F4A460;" data-bs-toggle="tooltip" data-bs-placement="left" title="IG: industrial area"></span></li>
                    <li class="label"><span style="background: #DEB887;" data-bs-toggle="tooltip" data-bs-placement="left" title="S: protected area"></span></li>
                    <li class="label"><span style="background: #FFE4B5;" data-bs-toggle="tooltip" data-bs-placement="left" title="WO: residential area"></span></li>
                    <li class="label"><span style="background: #000000;" data-bs-toggle="tooltip" data-bs-placement="left" title="Other"></span></li>
               </ul>
            </div>
        </div>

        <div class="card" style="width: 18rem; display:none; height: fit-content" id="zoning_content">
            <button id="btn-close-zoning" type="button" class="btn-close" aria-label="Close"></button>
            <h6 class="card-title" style="text-align: center;">Zoning</h6>

          <div class="card-body" style="height: 90%; padding-top: 1px;">
              <br>

              <div id="legend_zoning">
                <ul class="max_legend">
                    <li><span style="background: #774c43;"></span>E: <em>recreation area</em></li>
                    <li><span style="background: #8B4513;"></span>GB: <em>mixed developement</em></li>
                    <li><span style="background: #D2691E;"></span>GBBG: <em>mixed developement - business developement area</em></li>
                    <li><span style="background: #CD853F;"></span>GBGV: <em>mixed developement - business district</em></li>
                    <li><span style="background: #F4A460;"></span>IG: <em>industrial area</em></li>
                    <li><span style="background: #DEB887;"></span>S: <em>protected area</em></li>
                    <li><span style="background: #FFE4B5;"></span>WO: <em>residential area</em></li>
                    <li><span style="background: #000000;"></span>Other</li>

                </ul>
              </div>

              <div id="graph_zoning">

              </div>

          </div>
        </div>
        </section>

          <section>
            <div class="btn-group btn-group-sm" id="green_group" role="group" aria-label="Small button group">

                <button type="button" class="form-check btn btn-outline-dark"
                data-bs-toggle="collapse" data-bs-target="#collapseGreen" aria-expanded="false" aria-controls="collapseGreen">
                    <input class="form-check-input input_layers" type="checkbox" value="" id="veg_score" >
                    <label class="form-check-label" for="veg_score">
                        veg_score
                    </label>
                </button>

                <button id="green_arrow" type="button" class="btn btn-outline-dark"
                        style=" width: 1px"><i style="font-size: 1.1rem; right: 0px; position: absolute; top: 0px;" class="material-icons medium">arrow_drop_down</i></button>

            </div>

            <div class="card " style="width: 18rem; display:none; height: 20%" id="green_content">
                <button id="btn-close-green" type="button" class="btn-close" aria-label="Close"></button>
                <h6 class="card-title" style="text-align: center;">Green Area</h6>

              <div class="card-body" style="height: 90%; padding-top: 1px;">
                <p class="card-text"> Share (percentage) of green area within block</p>
                  <br>

                  <div>
                      <div>
                        <div class='row colors' style="background: linear-gradient(to right, #72de62, #6cd15c,#66c758, #62bf54, #5eb851, #57a84a, #4f9943, #478a3d, #3e7835, #34662d);">
                        </div>
                        <div class='row labels'>
                          <div class='label'>10</div>
                          <div class='label'>30</div>
                          <div class='label'>50</div>
                          <div class='label'>70</div>
                          <div class='label'>90</div>
                          <div class='label'>110</div>
                        </div>
                      </div>
                    </div>

                  <div id="graph_green_area">

                    </div>

              </div>
            </div>
            </section>

          <section>
        <div class="btn-group btn-group-sm" id="osr_group" role="group" aria-label="Small button group">

            <button type="button" class="form-check btn btn-outline-dark">
                <input class="form-check-input input_layers" type="checkbox" value="" id="wind_score" >
                <label class="form-check-label" for="wind_score">
                    wind_score
                </label>
            </button>

            <button id="osr_arrow" type="button" class="btn btn-outline-dark" style=" width: 1px"><i style="font-size: 1.1rem; right: 0px; position: absolute; top: 0px;" class="material-icons medium">arrow_drop_down</i></button>


        </div>

        <div class="card" style="width: 18rem; display:none; height: 20%" id="osr_content">
            <button id="btn-close-osr" type="button" class="btn-close" aria-label="Close"></button>
            <h6 class="card-title" style="text-align: center;">OSR</h6>

          <div class="card-body" style="height: 90%; padding-top: 1px;">
            <p class="card-text"> Open space share relative to the building square footage</p>
              <br>


              <div>
                  <div>
                    <div class='row colors' style="background: linear-gradient(to right, #a9d6e5, #89c2d9,#61a5c2, #468faf, #2c7da0, #2a6f97, #014f86, #01497c, #013a63);">
                    </div>
                    <div class='row labels'>
                      <div class='label'>5</div>
                      <div class='label'>10</div>
                      <div class='label'>30</div>
                      <div class='label'>50</div>
                      <div class='label'>80</div>
                      <div class='label'>100</div>
                    </div>
                  </div>
                </div>

              <div id="graph_osr">

              </div>

          </div>
        </div>
        </section>

          <section>
        <div class="btn-group btn-group-sm" id="streets_group" role="group" aria-label="Small button group">

            <button type="button" class="form-check btn btn-outline-dark">
                <input class="form-check-input input_layers" type="checkbox" value="" id="streets" data-bs-toggle="collapse" data-bs-target="#collapseStreets" aria-expanded="false" aria-controls="collapseStreets">
                <label class="form-check-label" for="streets">
                    Streets
                </label>
            </button>

            <button id="streets_arrow" type="button" class="btn btn-outline-dark" style=" width: 1px"><i style="font-size: 1.1rem; right: 0px; position: absolute; top: 0px;" class="material-icons medium">arrow_drop_down</i></button>

        </div>

        <div class="collapse" id="collapseStreets" style=" z-index: 1; top: 23%; right: 1%;">
            <div class="card-body" style=" z-index: 1; top: 23%; right: 1%; max-width: 30%;">
                <ul class="min_legend">
                <li class="label"><span style="background: #FFFF66;" data-bs-toggle="tooltip" data-bs-placement="left" title="G: municipal road"></span></li>
                    <li class="label"><span style="background: #FF9933;" data-bs-toggle="tooltip" data-bs-placement="left" title="L: state main road"></span></li>
                    <li class="label"><span style="background: #a117c7;" data-bs-toggle="tooltip" data-bs-placement="left" title="B: main road"></span></li>
               </ul>
            </div>
        </div>

        <div class="card" style="width: 18rem; display:none; height: fit-content" id="streets_content">
            <button id="btn-close-streets" type="button" class="btn-close" aria-label="Close"></button>
            <h6 class="card-title" style="text-align: center;">Street center-line</h6>

          <div class="card-body" style="height: 90%; padding-top: 1px;">
              <br>

              <div id="legend_streets">
                <ul class="max_legend">
                    <li><span style="background: #FFFF66;"></span>G: <em>municipal road</em></li>
                    <li><span style="background: #FF9933;"></span>L: <em>state main road</em></li>
                    <li><span style="background: #a117c7;"></span>B: <em>main road</em></li>

                </ul>
              </div>

              <div id="graph_aspern_roads">

              </div>

          </div>
        </div>
        </section>




      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">directions_subway</i>Blocks</div>
      <div class="collapsible-body">


          <section>
            <div class="btn-group btn-group-sm" id="public_lines_group" role="group" aria-label="Small button group">

                <button type="button" class="form-check btn btn-outline-dark">
                    <input class="form-check-input input_layers" type="checkbox" value="" id="aspern_publiclines" data-bs-toggle="collapse" data-bs-target="#collapsePublic_lines" aria-expanded="false" aria-controls="collapsePublic_lines">
                    <label class="form-check-label" for="aspern_publiclines">
                        Public Lines
                    </label>
                </button>

                <button id="public_lines_arrow" type="button" class="btn btn-outline-dark" style=" width: 1px"><i style="font-size: 1.1rem; right: 0px; position: absolute; top: 0px;" class="material-icons medium">arrow_drop_down</i></button>

            </div>

            <div class="collapse" id="collapsePublic_lines" style=" z-index: 1; top: 29%; right: 1%;">
                <div class="card-body" style=" z-index: 1; top: 29%; right: 1%; max-width: 30%;">
                    <ul class="min_legend">
                    <li class="label"><span style="background: #CC0000;" data-bs-toggle="tooltip" data-bs-placement="left" title="13: astax"></span></li>
                    <li class="label"><span style="background: #FF8000;" data-bs-toggle="tooltip" data-bs-placement="left" title="3: regional bus"></span></li>
                    <li class="label"><span style="background: #FFFF00;" data-bs-toggle="tooltip" data-bs-placement="left" title="2: bus"></span></li>
                    <li class="label"><span style="background: #00FF00;" data-bs-toggle="tooltip" data-bs-placement="left" title="5: rapid transit and regional train"></span></li>
                    <li class="label"><span style="background: #00FFFF;" data-bs-toggle="tooltip" data-bs-placement="left" title="9: astax"></span></li>
                    <li class="label"><span style="background: #0000FF;" data-bs-toggle="tooltip" data-bs-placement="left" title="10: night bus"></span></li>
                    <li class="label"><span style="background: #FF33FF;" data-bs-toggle="tooltip" data-bs-placement="left" title="11: night bus"></span></li>
                    <li class="label"><span style="background: #FF3399;" data-bs-toggle="tooltip" data-bs-placement="left" title="4: subway"></span></li>
                   </ul>
                </div>
            </div>

            <div class="card" style="width: 18rem; display:none; height: fit-content" id="public_lines_content">
                <button id="btn-close-public_lines" type="button" class="btn-close" aria-label="Close"></button>
                <h6 class="card-title" style="text-align: center;">Public transport lines</h6>

              <div class="card-body" style="height: 90%; padding-top: 1px;">
                  <br>

                  <div id="legend_public_lines">
                    <ul class="max_legend">
                        <li><span style="background: #CC0000;"></span>13: <em>astax</em></li>
                        <li><span style="background: #FF8000;"></span>3: <em>regional bus</em></li>
                        <li><span style="background: #FFFF00;"></span>2: <em>bus</em></li>
                        <li><span style="background: #00FF00;"></span>5: <em>rapid transit and regional train</em></li>
                        <li><span style="background: #00FFFF;"></span>9: <em>astax</em></li>
                        <li><span style="background: #0000FF;"></span>10: <em>night bus</em></li>
                        <li><span style="background: #FF33FF;"></span>11: <em>night bus</em></li>
                        <li><span style="background: #FF3399;"></span>4: <em>subway</em></li>

                    </ul>
                  </div>

                  <div id="graph_aspern_publiclines">

                  </div>

              </div>
            </div>
            </section>

      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>PoIs</div>
      <div class="collapsible-body">

          <section>
        <div class="btn-group btn-group-sm" id="shops_group" role="group" aria-label="Small button group">

            <button type="button" class="form-check btn btn-outline-dark">
                <input class="form-check-input input_layers" type="checkbox" value="" id="shops" data-bs-toggle="collapse" data-bs-target="#collapseShops" aria-expanded="false" aria-controls="collapseShops">
                <label class="form-check-label" for="shops">
                    Shops
                </label>
            </button>

            <button id="shops_arrow" type="button" class="btn btn-outline-dark" style=" width: 1px"><i style="font-size: 1.1rem; right: 0px; position: absolute; top: 0px;" class="material-icons medium">arrow_drop_down</i></button>

        </div>

        <div class="collapse" id="collapseShops" style=" z-index: 1; top: 35%; right: 1%;">
            <div class="card-body" style=" z-index: 1; top: 35%; right: 1%; max-width: 30%;">
                <ul>
                </ul>
            </div>
        </div>

        <div class="card" style="width: 18rem; display:none; height: fit-content" id="shops_content">
            <button id="btn-close-shops" type="button" class="btn-close" aria-label="Close"></button>
            <h6 class="card-title" style="text-align: center;">Shops</h6>

          <div class="card-body" style="height: 90%; padding-top: 1px;">
              <br>

             <div id="legend_shops">
                <ul class="max_legend">

                </ul>
              </div>

              <div id="graph_shops">

              </div>

          </div>
        </div>
        </section>

          <section>
        <div class="btn-group btn-group-sm" id="trees_group" role="group" aria-label="Small button group">

            <button type="button" class="form-check btn btn-outline-dark">
                <input class="form-check-input input_layers" type="checkbox" value="" id="aspern_trees" data-bs-toggle="collapse" data-bs-target="#collapseTrees" aria-expanded="false" aria-controls="collapseTrees">
                <label class="form-check-label" for="aspern_trees">
                    Trees
                </label>
            </button>

            <button id="trees_arrow" type="button" class="btn btn-outline-dark" style=" width: 1px"><i style="font-size: 1.1rem; right: 0px; position: absolute; top: 0px;" class="material-icons medium">arrow_drop_down</i></button>

        </div>

        <div class="collapse" id="collapseTrees" style=" z-index: 1; top: 41%; right: 1%;">
            <div class="card-body" style=" z-index: 1; top: 41%; right: 1%; max-width: 30%;">
                <ul>
                </ul>
            </div>
        </div>

        <div class="card" style="width: 18rem; display:none; height: fit-content" id="trees_content">
            <button id="btn-close-trees" type="button" class="btn-close" aria-label="Close"></button>
            <h6 class="card-title" style="text-align: center;">Trees</h6>

          <div class="card-body" style="height: 90%; padding-top: 1px;">
              <br>

             <div id="legend_trees">
                <p><strong>Classification Categories of Tree height: </strong></p>

                <ul style="columns: 3" class="max_legend">

                    <li><span style="background: #99FF99;"></span>0</li>
                    <li><span style="background: #66FF66;"></span>1</li>
                    <li><span style="background: #33FF33;"></span>2</li>
                    <li><span style="background: #00CC00;"></span>3</li>
                    <li><span style="background: #00CC00;"></span>4</li>
                    <li><span style="background: #009900;"></span>5</li>

                </ul>
              </div>

              <div id="graph_aspern_trees">

              </div>

          </div>
        </div>
        </section>

          <section>
        <div class="btn-group btn-group-sm" id="public_stations_group" role="group" aria-label="Small button group">

            <button type="button" class="form-check btn btn-outline-dark">
                <input class="form-check-input input_layers" type="checkbox" value="" id="aspern_publicstops" data-bs-toggle="collapse" data-bs-target="#collapsePublic_stations" aria-expanded="false" aria-controls="collapsePublic_stations">
                <label class="form-check-label" for="aspern_publicstops">
                    Public stops
                </label>
            </button>

            <button id="public_stations_arrow" type="button" class="btn btn-outline-dark" style=" width: 1px"><i style="font-size: 1.1rem; right: 0px; position: absolute; top: 0px;" class="material-icons medium">arrow_drop_down</i></button>

        </div>

        <div class="collapse" id="collapsePublic_stations" style=" z-index: 1; top: 47%; right: 1%;">
            <div class="card-body" style=" z-index: 1; top: 47%; right: 1%; max-width: 30%;">
                <ul class="min_legend">
                <li class="label"><span style="background: #CC0000;" data-bs-toggle="tooltip" data-bs-placement="left" title="13: astax"></span></li>
                <li class="label"><span style="background: #FF8000;" data-bs-toggle="tooltip" data-bs-placement="left" title="3: regional bus"></span></li>
                <li class="label"><span style="background: #FFFF00;" data-bs-toggle="tooltip" data-bs-placement="left" title="2: bus"></span></li>
                <li class="label"><span style="background: #00FF00;" data-bs-toggle="tooltip" data-bs-placement="left" title="5: rapid transit and regional train"></span></li>
                <li class="label"><span style="background: #00FFFF;" data-bs-toggle="tooltip" data-bs-placement="left" title="9: astax"></span></li>
                <li class="label"><span style="background: #0000FF;" data-bs-toggle="tooltip" data-bs-placement="left" title="10: night bus"></span></li>
                <li class="label"><span style="background: #FF33FF;" data-bs-toggle="tooltip" data-bs-placement="left" title="11: night bus"></span></li>
                <li class="label"><span style="background: #FF3399;" data-bs-toggle="tooltip" data-bs-placement="left" title="4: subway"></span></li>
               </ul>
            </div>
        </div>

        <div class="card" style="width: 18rem; display:none; height: fit-content" id="public_stations_content">
            <button id="btn-close-public_stations" type="button" class="btn-close" aria-label="Close"></button>
            <h6 class="card-title" style="text-align: center;">Public transport stations</h6>

          <div class="card-body" style="height: 90%; padding-top: 1px;">
              <br>

              <div id="legend_public_stations">
                <ul class="max_legend">
                    <li><span style="background: #CC0000;"></span>13: <em>astax</em></li>
                    <li><span style="background: #FF8000;"></span>3: <em>regional bus</em></li>
                    <li><span style="background: #FFFF00;"></span>2: <em>bus</em></li>
                    <li><span style="background: #00FF00;"></span>5: <em>rapid transit and regional train</em></li>
                    <li><span style="background: #00FFFF;"></span>9: <em>astax</em></li>
                    <li><span style="background: #0000FF;"></span>10: <em>night bus</em></li>
                    <li><span style="background: #FF33FF;"></span>11: <em>night bus</em></li>
                    <li><span style="background: #FF3399;"></span>4: <em>subway</em></li>
                </ul>
              </div>

              <div id="graph_aspern_publicstops">

              </div>

          </div>
        </div>
        </section>


      </div>
    </li>
</ul>
</div>

<!--<div id="analysis_layers">-->
<!--<ul class="collapsible">-->
<!--     <li>-->
<!--          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Analysis</div>-->
<!--          <div class="collapsible-body">-->

<!--              <section>-->
<!--            <div class="btn-group btn-group-sm" id="shannon_group" role="group" aria-label="Small button group">-->
<!--                <button type="button" id="shannon" class="form-check btn btn-outline-dark">-->
<!--                    <input class="input_layers" type="checkbox" value="" id="index">-->
<!--                    <label class="" for="index">-->
<!--                        Shannon-->
<!--                    </label>-->
<!--                </button>-->

<!--                <button id="shannon_arrow" type="button" class="btn btn-outline-dark" style=" width: 1px"><i style="font-size: 1.1rem; right: 0px; position: absolute; top: 0px;" class="material-icons medium">arrow_drop_down</i></button>-->


<!--            </div>-->

<!--            <div class="card" style="width: 18rem; display:none; height: 20%" id="shannon_content">-->
<!--                <button id="btn-close-shannon" type="button" class="btn-close" aria-label="Close"></button>-->

<!--                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="left" title="Recompute index" style="-->
<!--                position: absolute;height: 25px;width: 30px;" id="recalculate_index"><i style="font-size: 1.1rem" class="material-icons small">input</i></button>-->
<!--                <h6 class="card-title"style="text-align: center;">Shannon Index</h6>-->

<!--              <div class="card-body" style="height: 90%;  padding-top: 1px;">-->
<!--                <p class="card-text">A measure of the variety of land uses in an area, indicating the number of different classes</p>-->

<!--                    <div>-->
<!--                      <div>-->
<!--                        <div class='row colors' style="background: linear-gradient(to right, #e1aeb4, #d3828f,#d55f5f, #b42f2f, #8c172c);">-->
<!--                        </div>-->
<!--                        <div class='row labels'>-->
<!--                          <div class='label'>0.8</div>-->
<!--                          <div class='label'>1</div>-->
<!--                          <div class='label'>1.4</div>-->
<!--                          <div class='label'>1.8</div>-->
<!--                          <div class='label'>2.21</div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                  <div id="graph_shannon">-->

<!--                  </div>-->

<!--              </div>-->
<!--            </div>-->
<!--            </section>-->

<!--              <section>-->
<!--            <div class="btn-group btn-group-sm" id="accessibility_group" role="group" aria-label="Small button group">-->

<!--                    <button type="button" id="accessibilitybut" class="form-check btn btn-outline-dark">-->
<!--                    <input class="input_layers" type="checkbox" value="" id="accessibility" >-->
<!--                    <label class="" for="accessibility">-->
<!--                        Accessibility-->
<!--                    </label>-->
<!--                </button>-->

<!--                <button id="accessibility_arrow" type="button" class="btn btn-outline-dark" style=" width: 1px"><i style="font-size: 1.1rem; right: 0px; position: absolute; top: 0px;" class="material-icons medium">arrow_drop_down</i></button>-->


<!--            </div>-->

<!--            <div class="card" style="width: 18rem; display:none; height: 330px" id="accessibility_content">-->
<!--                <button id="btn-close-accessibility" type="button" class="btn-close" aria-label="Close"></button>-->
<!--                 <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="left" title="Compute accessibility" style="-->
<!--                position: absolute;height: 25px;width: 30px;" id="calc_accessibility"><i style="font-size: 1.1rem" class="material-icons small">input</i></button>-->
<!--                <h6 class="card-title" style="text-align: center;">Accessibility</h6>-->

<!--              <div class="card-body" style="height: 90%; padding-top: 1px; padding-left: 5%;">-->
<!--                  <br>-->

<!--                  <div>-->
<!--                      <h6 class="txt-m txt-bold mb6">Distance:</h6>-->
<!--                      <form action="#" style="width:80%; font-size: 14px">-->
<!--                          <p class="range-field" style="padding: 0px; height: 50px">-->
<!--                              <input type="range" id="test" min="50" max="500" step="50"  value="'+span_text+'">-->
<!--                              <span class="thumb"></span>-->
<!--                          </p>-->
<!--                      </form>-->
<!--                  </div>-->


<!--                  <div class="row align-items-end absolute round">-->
<!--                      <form id="params">-->
<!--                          <h6 class="txt-m txt-bold mb6">Point of Interest:</h6>-->
<!--                          <div class="mb12 mr12 toggle-group align-center">-->
<!--                              <label class="toggle-container">-->
<!--                                  <input name="poi" type="radio" value="transport_stations" id="9gf01vwa" />-->
<!--                                  <div class="toggle toggle&#45;&#45;active-null toggle&#45;&#45;null">Transport stations</div>-->
<!--                              </label>-->
<!--                              <label class="toggle-container">-->
<!--                                  <input name="poi" type="radio" value="shops" id="3hilt6p4"/>-->
<!--                                  <div class="toggle toggle&#45;&#45;active-null toggle&#45;&#45;null">Shops</div>-->
<!--                              </label>-->
<!--                          </div>-->
<!--                      </form>-->
<!--                  </div>-->

<!--                   <div class="row align-items-end absolute round" style="bottom: 20%;">-->
<!--                      <form id="accessibility_layers" style="">-->
<!--                          <h6 class="txt-m txt-bold mb6">Show within distance:</h6>-->
<!--                          <div class="mb12 mr12 toggle-group align-center">-->
<!--                              <label class="toggle-container">-->
<!--                                  <input name="layer" type="radio" value="polygons" id="pol" />-->
<!--                                  <div class="toggle toggle&#45;&#45;active-null toggle&#45;&#45;null">Blocks</div>-->
<!--                              </label>-->
<!--                              <label class="toggle-container">-->
<!--                                  <input name="layer" type="radio" value="buffer" id="buf"/>-->
<!--                                  <div class="toggle toggle&#45;&#45;active-null toggle&#45;&#45;null">Buffer</div>-->
<!--                              </label>-->
<!--                          </div>-->
<!--                      </form>-->
<!--                  </div>-->

<!--              </div>-->
<!--            </div>-->
<!--            </section>-->





<!--          </div>-->
<!--     </li>-->
<!--</ul>-->

<!--</div>-->

<!--..............Toolbar............-->
<!--<div class="card text-center" id="toolbar">-->
<!--  <div class="card-header">-->

<!--        <div class="mb12 mr12 toggle-group align-center" id="toggle_toolbar_header">-->
<!--           <label class="toggle-container">-->
<!--              <input name="tool" type="radio" value="landuse" id="landuse_tool_but" />-->
<!--              <div class="toggle toggle&#45;&#45;active-null toggle&#45;&#45;null">Land Use</div>-->
<!--          </label>-->
<!--          <label class="toggle-container">-->
<!--              <input name="tool" type="radio" value="poi" id="poi_tool_but" />-->
<!--              <div class="toggle toggle&#45;&#45;active-null toggle&#45;&#45;null">PoI</div>-->
<!--          </label>-->
<!--            <label class="toggle-container">-->
<!--              <input name="tool" type="radio" value="transit" id="transit_tool_but" />-->
<!--              <div class="toggle toggle&#45;&#45;active-null toggle&#45;&#45;null">Transit</div>-->
<!--          </label>-->
<!--        </div>-->

<!--  </div>-->
<!--  <div class="card-body" id="toolbar_content" style="display: none">-->

<!--          <div class="btn-group me-2" id="toolbar_content_but_group" role="group" aria-label="First group" style="width: -webkit-fill-available">-->

<!--          </div>-->


<!--  </div>-->
<!--  <div class="card-footer text-muted" id="toolbar_footer" style="display: none">-->

<!--        <div class="btn-group justify-content-end" id="toolbar_footer_group" role="group" aria-label="Basic mixed styles example" style="width: -webkit-fill-available">-->

<!--        </div>-->

<!--  </div>-->



<!--</div>-->

<!--main js -->
<script src="../static/javascript/main.js"></script>

</body>
</html>
