body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
}

/*for the legend colors*/
ul span{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 30%
}

/*for the list inside the properties popup*/
.list-group {
    width: 240px;
}

.mapboxgl-popup {
    max-width: 250px;
}

.mapboxgl-popup-content{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    width: 250px;
    -webkit-text-size-adjust: auto;
}


p {
  font-family: 'Open Sans';
  margin: 0;
  font-size: 13px;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
}

.form-check-input:checked {
    background-color: #404040;
    border-color:rgba(0, 0, 0, 0.25);
}

/* for the range */
input[type=range]::-webkit-slider-thumb {
    background-color: #757d82;
}
input[type=range]::-moz-range-thumb {
    background-color: #757d82;
}
input[type=range]::-ms-thumb {
    background-color: #757d82;
}
/* edit the thumb and the text inside the thumb */
input[type=range] + .thumb {
    background-color: #dedede;
}
input[type=range] + .thumb.active .value {
    color: #757d82;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #757d82;
    border-bottom: 2px solid #757d82;
}

.btn-group-sm {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 80px;
    align-content:flex-start
}

.btn-group-sm>.btn, .btn-sm {
    --bs-btn-font-size: 0.75rem;
}

.btn {
    --bs-btn-padding-x: none;
}

/* style scrollbar */
#main_layers::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
#main_layers::-webkit-scrollbar-track {
    background: whitesmoke;        /* color of the tracking area */
}
#main_layers::-webkit-scrollbar-thumb {
    background-color: darkgrey;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid whitesmoke;  /* creates padding around scroll thumb */
}

form {
    font-size: 14px;
}

button:focus {
    background-color: lightgray;
}

/*color range */
.row {
  height: 12px;
  width: 100%;

  --bs-gutter-x: 0;
}


.btn:hover {
    background-color: #6c757d;
    border-color: #2125296b;
}
.btn:active {
    background-color: #6c757d;
    border-color: #2125296b;
}
.btn:focus {
    background-color: #6c757d;
    border-color: #2125296b;
}

.btn-group>.btn {
    height: 25px;
    width: 140px;
}


.spinner-border-sm {
--bs-spinner-border-width: 0.1em;
}


/*for the graphs*/
 .js-plotly-plot .plotly .main-svg {
    width: 250px;
}

/*for the text and checkbox style*/
[type="checkbox"]+label {
    padding-left: 10px;
    line-height: 15px;
    position: initial;
    color: #212529;
}
[type="checkbox"]+label:before {
    margin-top: 0;
}
label {
    color: #4d5255;
}

#main_layers {
    position: relative;
    left: 1%;
    top: 1%;
    overflow-y: auto;
    overflow-x: hidden;
}

.collapsible-header {
    background: transparent;
}
.collapsible-body {
    background: rgba(255,255,255,.25);
    padding-left: 10px;
    padding-top: 7px;
}

/*layers sections*/
.collapsible-body .btn-group-sm {
    position: relative;
    z-index: 0;
    top: 0;
    right: 1%;
}

.collapsible {
    padding-left: 0px;
    width: 10rem;
}


section .btn-group-sm {
    padding-left: 2rem;
}

/*make the legend text small*/
.max_legend {
    font-size: small;
    text-indent: -0.5rem
}


#btn-open-layers {
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;
        border-radius: 3px;
        width: 50px;
        height: 25px;
        align-content:flex-start
}

.row .col {
    padding: 0;
}

.text-bg-dark {
    color: rgb(255 255 255 / 75%) !important;
    background-color: rgba(0,0,0,0.90) !important;
}

.col{
    overflow-y: auto;
    overflow-x: hidden;
}
/* style scrollbar */
.col::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}
.col::-webkit-scrollbar-track {
    background: whitesmoke;        /* color of the tracking area */
}
.col::-webkit-scrollbar-thumb {
    background-color: darkgrey;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1.5px solid whitesmoke;  /* creates padding around scroll thumb */
}

/*for the legend*/
.carousel-item {
    left:30px;
    width: 90%;
}

/* Solid border (as a divider/separator)*/
hr.solid {
  border-top: 3px solid #bbb;
}

.carousel-control-prev:focus, .carousel-control-next:focus {
    background-color: transparent;
}

.offcanvas-body {
    overflow-y: hidden;
}


/*legend is scrollable*/
#carouselExampleFade {
    height: 180px;
    overflow-y: auto;
}
/* style scrollbar */
#carouselExampleFade::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}
#carouselExampleFade::-webkit-scrollbar-track {
    background: whitesmoke;        /* color of the tracking area */
}
#carouselExampleFade::-webkit-scrollbar-thumb {
    background-color: darkgrey;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1.5px solid whitesmoke;  /* creates padding around scroll thumb */
}

.legend_title {
    font-size: medium;
}

#isochrome_form {
    position: absolute;
    z-index: 1;
    right: 0px;
    border-radius: 3px;

    align-content:flex-start;
    margin: 10px;

    border-color: rgb(32, 32, 40);
    border-width: thin;
    border-style: solid;

    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

    background-color: #fff !important
}

.mapbox-directions-profile {
    display: none;
}


.mapbox-directions-instructions{
    overflow-x: hidden;
}
/* style scrollbar */
.mapbox-directions-instructions::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
.mapbox-directions-instructions::-webkit-scrollbar-track {
    background: whitesmoke;        /* color of the tracking area */
}
.mapbox-directions-instructions::-webkit-scrollbar-thumb {
    background-color: darkgrey;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid whitesmoke;  /* creates padding around scroll thumb */
}

#score_routing_div {
    position: absolute;
    z-index: 1;
    right: 0px;
    border-radius: 3px;

    align-content:flex-start;
    margin:10px;

    border-color: rgb(32, 32, 40);
    border-width: thin;
    border-style: solid;

    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

    background-color: #fff !important
}

.routing_pref{
    display: flex;
}

#compute_routing_pref{
    height: 25px;
    font-size: small;
}

#btn-open-legend {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 50px;
    height: 25px;
    align-content:flex-start
}

#help_nav{
    bottom: 10px;
    padding-left: 0;
    padding-right: 25px;
    position: absolute;
}

#btn-open-info {
    position: absolute;
    z-index: 1;
    bottom: 22%;
    right: 10px;
    border-radius: 3px;
    width: 50px;
    height: 25px;
    align-content:flex-start;
}
#btn-close-info {
    position: absolute;
    top: 7px;
    right: 7px;
}

#info_el{
    position: absolute;
    z-index: 1;
    bottom: 22%;
    right: 10px;
    border-radius: 3px;
    width: 300px;
    height: 370px;
    align-content:flex-start;
    background-color: rgb(0 0 0 / 89%)!important;
    color: rgb(255 255 255 / 75%);
    overflow-y: auto;
}


#info_el::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}
#info_el::-webkit-scrollbar-track {
    background: whitesmoke;        /* color of the tracking area */
}
#info_el::-webkit-scrollbar-thumb {
    background-color: darkgrey;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1.5px solid whitesmoke;  /* creates padding around scroll thumb */
}


/*change direction plugin locations backgrounds*/
.mapbox-directions-origin .mapbox-form-label {
    background-color: #e7a39f;
}

.mapbox-form-label {
    background: #009f08;
}